<% include partials/header %>

<h1> Login Page </h1>
<form action="/login" method="POST">
    <input type="email" name="username" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <button type="submit">Login</button>
</form>

<% include partials/footer %>